@media screen and (min-width: 768px){
    header {
        justify-content: flex-start;
        gap: 30px; 
        height: 92px;
    }

    header > img{
        width: 48px;
        height: 48px;
    }

    header > h1 {
        display: block; 
        margin-top: 10px;
        font-size: 32px;
    }

    header > #menu {
        display: none;
    }

    header > nav {
        display: flex; 
        position: static; 
        width: auto; 
        height: auto;
        padding-top: 0;
        background-color: transparent; 
        margin-left: auto; 
        gap: 30px;
    }

    header > nav > a {
        padding: 0; 
        color: #37343C; 
        border-bottom: none;
        margin-top: 15px;
        font-size: 24px;
        gap: 8px;
    }

    nav > a:hover{
        text-decoration: underline;
        text-decoration-color: #E9A750;
    }

    .conteudo{
        display: flex;
        flex-direction: row;
        gap: 52px;
    }

    .guia{
        margin-left: 60px;
    }

    .guia > h1{
        font-size: 63px;
    }

    .guia > h2{
        font-size: 32px;
    }

    .guia > p{
        font-size: 28px;
        text-align: justify;
        width: 491px;
    }

    .caminho{
        display: flex;
        flex-direction: row;
        gap: 120px;
    }

    .caminho > h3{
        font-size: 32px;
    }

    form{
        align-items: flex-start;
        width: 833px;
    }

    .campo{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    height: 20vh;
    border-radius: 5px;
    background-color: #16727129;
    width: 100%;
    border-bottom: 2px solid #167271;

    }
    .campo > input{
        background-color: transparent;
        border: none;
        height: 50px;
        outline: none;
        width: 100%;
    }

    .campo > label{
        color: #167271;
        font-family: var(--fontenav);
        font-size: 15px;
    }

    .agradecimento > h3{
        font-size: 32px;
        margin-top: 20vh;
    }

    .agradecimento > p{
        font-size: 32px;
    }

    .botoes{
        gap: 18%;
        margin-top: 10%;
    }

    #voltarinicio{
        width: 40vw;
        height: 6vh;
        font-size: 20px;
        cursor: pointer;
    }
    
    footer{
        margin-top: 90px;
        height: 8vh;
        margin-top: 6%;
    }

    footer > a > p{
        font-size: 26px;
    }
    
    #iniciativa {
        margin-left: auto; 
        font-size: 26px;
    }
}