@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');
*{
    padding: 0px;
    margin: 0px;
}

:root{
    --fontenav: "Josefin Sans", sans-serif;
    --fonteconteudo: "Josefin Slab", serif;
}

body{
    background-color: #EBEBEB;
}

header{
    background-color: #0e878529;
    height: 90px;
    display: flex;
    flex-direction: row;
    
}

header > img{
    width: 48px;
    height: 48px;
    margin-top: 20px;
    margin-left: 20px;
}

header > h1{
    font-family: var(--fontenav);
    font-size: 32px;
    font-weight: 400;
    color: #CDAB27;
    padding: 30px;
    margin-right: 500px;
}

header > nav{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 55px;

}

header > nav > a{
    font-family: var(--fontenav);
    text-decoration: none;
    color: black;
    font-size: 24px;
}

header > nav > a:hover{
    text-decoration: underline;
    text-decoration-color: #CDAB27;
    
}

.conteudo{
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.guia{
    display: inline-block;
    margin-left: 40px;
    margin-top: 20px;
    text-align: center;
}



h1{
    font-family: var(--fonteconteudo);
    color:#167271;
    font-size: 64px;
    margin-bottom: 20px;
}

h2{
    font-family: var(--fonteconteudo);
    color: #E9A750;
    font-size: 32px;
    margin-bottom: 30px;
}

p{
    font-family: var(--fonteconteudo);
    font-size: 28px;
    font-style: bold;
    font-weight: 700;
    text-align: justify;
    margin-bottom: 30px;
}

.caminho{
    display: flex;
    flex-direction: row;
    gap: 110px;
}

.caminho > h3{
    color: #0E8785;
    font-family: var(--fonteconteudo);
    font-size: 32px;
    font-weight: 700;
}

form{
    margin-top: 140px;
    width: 830px;
}

form > h3{
    color: #167271;
    font-size: 22px;
    margin-bottom: 10px;
    font-family: var(--fontenav);
    font-weight: 500;
    margin-top: 15px;
}

.familia{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

#familia{
    width: 50%;
}

#estilonecessidade{
    height: 113px;

}


.campo{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    height: 45px;
    border-radius: 5px;
    background-color: #16727129;
    margin-bottom: 20px;
}


.campo > textarea{
    background-color: transparent;
    border: none;
    height: 113px;
}

.campo > input{
    background-color: transparent;
    border: none;
    height: 45px;

}

.campo > label{
    color: #167271;
    font-family: var(--fontenav);
    font-size: 15px;
}




.botoes{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    gap: 320px;
}



.botoes > button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 10px;
    border: none;
    height: 50px;
    width: 255px;

}

.aviso{
    text-align: center;
    font-family: var(--fontenav);
    font-size: 16px;
    color: #167271;
    font-weight: 400;
    background-color: #fff;
    height: 20px;
    padding: 5px;
}

button:hover{
    cursor: pointer;
}
  
#botaoCancelar{
    background-color: #CDAB27;
    color: #fff;
    font-size: 20px;
}

#botaoContinuar{
    background-color:#0E8785;
    color: #fff;
    font-size: 20px;
}

footer{
    height: 40px;
    background-color: #11a9a629;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    padding: 15px;
    gap: 15px;
}

footer > a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #000000;
}

footer > a > p{
    margin: 0px;
    margin-top: 5px;
    font-size: 28px;
}

footer > a > img{
    margin-right: 5px;
}


/*Essa é a melhor maneira de alinhar a direita?*/
#iniciativa{
    margin-left: 880px;
}