@media screen and (min-width: 768px){
    
    header {
        justify-content: flex-start;
        gap: 30px; 
        height: 92px;
    }

    header > img{
        width: 48px;
        height: 48px;
    }

    header > h1 {
        display: block; 
        margin-top: 10px;
        font-size: 32px;
    }

    header > #menu {
        display: none;
    }

    header > nav {
        display: flex; 
        position: static; 
        width: auto; 
        height: auto;
        padding-top: 0;
        background-color: transparent; 
        z-index: auto;
        margin-left: auto; 
        gap: 30px;
    }

    header > nav > a {
        padding: 0; 
        color: #37343C; 
        border-bottom: none;
        margin-top: 15px;
        font-size: 24px;
        gap: 8px;
    }

    nav > a:hover{
        text-decoration: underline;
        text-decoration-color: #E9A750;
    }

    main > h1{
        font-size: 94px;
    }

    main > p{
        font-size: 28px;
        text-align: justify;
        padding: 2vw;
        margin-bottom: 1vh;
    }
    .conteudo{
        display: flex;
        flex-direction: row;
        gap: 250px;
        height: 240px;
        align-items: center;
        margin-left: 120px;
        width: 1064px;
    }



    .botaolateral{
        width: 431px;
        
    }

    
    .imagens {
        display: flex; 
        justify-content: center;
        gap: 20px;
        max-width: 1200px;
        margin: 40px auto;
    }

    .imagens > img {
        width: 300px;
        max-width: 100%;
        height: auto;
    }
    
   footer{
        margin-top: 90px;
        height: 52px;
    }

    footer > a > p{
        font-size: 26px;
    }
    
    
    #iniciativa {
        margin-left: auto; 
        font-size: 26px;
    }
}